body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-color: #FFD900 ;
    display: flex;
    width: 100%;
}
header img{
    height: 50px;
    margin: 30px 60px 20px ; 

}

section{
    display: flex;

}
#card{
    
    background-color: #514988;
    text-align: center;
    width: 50%;
    color: white;
    height: 700px;
}
#card h1{
    color: #F3C61F;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;

}
#card h2{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 20px;
}
#card p{
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}
.container{
    display: flexbox;
    width: 50%;
    
    
}
.countDown {
    display: flex ;
    grid-auto-flow: column;
    width: 700px;
    height: 100px;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 30px;    
    text-align: center;
    color:#514988;
    font-size: 30px;
    line-height: 30px;
}
.container h2{
    text-align: center;
    margin-top: 5px;
    align-items: center;
    margin-left: 70px;
    color:#E33881;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    
}
.container video{
    height: 500px;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: 20px;
    margin-top: 10px;
    

}

#botton {
    display: flex;
    text-align: center;
    
}

#botton h2{
    text-align: center;
    color: #F3C61F;
    width: 900px;
    font-size: 28px;
}
#img{
    align-items: center;
    display: inline-block;
    height: 500px;
    cursor: pointer;
    
}

#button input{
    width: 500px;
    margin: 100px 150px 100px;
    height: 148px;
    background-color: #514988;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 42px;
    border-radius: 20px;
    align-items: center;
    margin-left: 300px;
}

#button input:hover{
    background-color: #FFF;
    transition: 100ms;
    border: 2px solid #514988;
    color: #514988


}